<!-- <%- include('../includes/top.ejs') %>

<%- include('../includes/navigation.ejs') %>
<main>
    <div class="container">
        <% if(notes.length > 0) { %>
        <h1>List of notes!</h1>
        <% for(let note of notes) { %>
        <div class="media">
            <div class="media-left">
              
                <img class="media-object" src="<%= note.imageUrl%>" alt="">
      
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= note.title%></h4>
              <% if(note.description.length > 100 ) { %>
                <p><%= note.description.slice(0, 100) %>...</p>
                <% } else { %>
                  <p><%= note.description %></p>
                <% } %>
              <div class="actions">
                <form action="/admin/approve" method="post">
                  <input type="hidden" name="noteId" value="<%= note.noteId%>"/>
                  <button class="btn">
                    <%= note.status === 'approved' ? 'UnApprove' : 'Approve' %>
                  </button>
                </form>
              </div>   
            </div>
          </div>
          <% } %>
          <% } else { %>
          <h1>No data available!</h1>
          <% } %>
    </div>
</main>

<%- include('../includes/bottom.ejs') %> -->